body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.section-banner {
    background-color: #5200FF;
    color: #FFFFFF;
}

.section-banner-cover {
    text-align: center;
    background-image: url('../images/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.22;
}

.section-banner .title {
    font-family: 'Bebas Neue', cursive;
    padding: 0px;
    margin: 0px;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 77px;
    font-weight: normal;
}

.section-banner p {
    font-size: 24px;
}

.section-form,
.section-banner-cover {
    padding: 6.75rem 8vw;
}